{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {"parser": "json"}
    }
  ]
}
